{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} | CGU {% endblock %}


{% block body %}

    <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, in!</span>
        <span>Accusamus aut corporis deleniti iste, magnam optio rem unde voluptatum!</span>
        <span>A consequuntur deleniti eos laboriosam magnam magni odio placeat ullam!</span>
        <span>Adipisci earum et fugit mollitia possimus praesentium quas repellat sapiente!</span>
        <span>Doloremque ex, facilis laborum nobis qui repellendus totam voluptate voluptatem?</span>
    </p>

{% endblock %}