{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} | CGU {% endblock %}


{% block body %}

    <h1>Conditions générales d'utilisation</h1>
    <ol>
        <li>Utilisation du site <br> Le contenu de ce site est destiné à des fins d'information générale uniquement. Nous nous réservons le droit de modifier le contenu de ce site à tout moment, sans préavis.</li>
        <br>
        <li>Propriété intellectuelle <br> Le contenu de ce site, y compris mais sans s'y limiter, les textes, images, graphiques, logos et vidéos, est la propriété de [nom de l'entreprise] ou de ses partenaires. Il est protégé par les lois sur la propriété intellectuelle et ne peut être utilisé sans notre autorisation préalable écrite.</li>
        <br>
        <li>Responsabilité <br> Nous nous efforçons de maintenir le contenu de ce site à jour et exact, mais nous ne pouvons garantir l'exactitude ou l'exhaustivité du contenu. Nous ne serons pas responsables des erreurs ou omissions dans le contenu, ou de tout préjudice découlant de l'utilisation de ce site.</li>
        <br>
        <li>Liens vers d'autres sites <br>
            Ce site peut contenir des liens vers d'autres sites web qui ne sont pas contrôlés par [nom de l'entreprise]. Nous ne sommes pas responsables du contenu de ces sites, ni des dommages ou préjudices découlant de l'utilisation de ces sites.</li>
        <br>
        <li>Modifications des CGU <br>
            Nous nous réservons le droit de modifier les présentes Conditions Générales d'Utilisation à tout moment, sans préavis. Il vous incombe de vérifier régulièrement les modifications apportées aux CGU.</li>
        <br>
        <li>Droit applicable <br>
            Les présentes Conditions Générales d'Utilisation sont régies par les lois en vigueur dans [pays] et tout différend découlant de l'utilisation de ce site sera soumis à la compétence exclusive des tribunaux de [ville].</li>
    </ol>

{% endblock %}