{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} | Mentions légales {% endblock %}


{% block body %}

    <h1>Mentions légales</h1>

    <article>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A distinctio et explicabo nihil quasi rem vero? Eos, odio rerum? Dicta.</p>
    </article>

    <article>
        <h2>Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo illum rem veniam vitae. At cum cumque, iste iure magni molestiae nam nihil nisi perspiciatis placeat provident quaerat quas ratione repellendus repudiandae totam voluptatem! Dolor enim eos, ipsam iure nulla officia ratione sapiente sequi sit, tempore ullam veniam. Deserunt, nobis non.</p>
    </article>

    <article>
        <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at eius, eum ex explicabo fuga harum, ipsum laboriosam nam quibusdam reiciendis repellat tempora. Delectus excepturi exercitationem fugiat illo labore nisi, nobis praesentium quibusdam veritatis voluptatum!</p>
    </article>

    <article>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eius ipsa iure laboriosam magni, perferendis ratione reiciendis veniam!</p>
    </article>


{% endblock %}