<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ asset('img/house_favicon.png') }}">
    <title>{% block title %}Agence{% endblock %}</title>
</head>
<body>
<div class="header">
<header>
    {% include 'menu/nav.html.twig' %}
</header>
</div>

<h1>Okay !</h1>

{% block body %}{% endblock %}

<style>
    body{
        background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.5)), url("{{ asset('img/home.jpg')}}");
        height: 97.8vh;
    }
</style>

<div class="footer">
<footer>
    {% include 'menu/footer.html.twig' %}
</footer>
</div>

</body>
</html>