<nav>
    <ul>
        <li><a href="{{ path('mentions') }}">Mentions légales</a></li>
        <li><a href="{{ path('cgu') }}">CGU</a></li>
    </ul>
</nav>
    <p>Copyright © {{ "now"|date("Y") }} - Agence</p>
