<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="#">Ajouter/modifier une annonce</a></li>
        <li><a href="{{ path('team') }}">L'équipe</a></li>
    </ul>
</nav>